components.d.ts
auto-imports.d.ts
vite.config.ts
postcss.config.js
tailwind.config.js
.eslintrc.cjs
cmd/frontend/resources/**
/dashboard/new-dashboard/src/components/common/BranchIcon.vue
/dashboard/new-dashboard/src/components/common/SpaceIcon.vue
/dashboard/new-dashboard/src/shared/webWorker/**
/dashboard/app/tests/**