.idea/workspace.xml
.idea/httpRequests/
/dist/
http-client.env.json

db/

/deployment/overlays/

node_modules/
cmd/frontend/resources/assets/
cmd/frontend/resources/favicon.svg
cmd/frontend/resources/index.html
cmd/frontend/resources/*.br
values-resolved.yaml

.eslintcache