.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/shelf/
.idea/dataSources.local.xml
http-client.env.json

/deployment/overlays/

node_modules/
cmd/frontend/resources/
cmd/degradation-detector/kodata/
values-resolved.yaml

.eslintcache

jb