openapi: 3.0.3
info:
  title: Compare By Owner API
  description: API for comparing metric values between two branches for all projects belonging to one or more owners.
  version: 1.0.0
servers:
  - url: 'https://ij-perf-api.labs.jb.gg'
paths:
  /api/compareByOwner:
    post:
      summary: Compare metrics between two branches by owner
      description: >
        Looks up all projects belonging to the given owners, queries metric values
        for both branches across all product tables, groups runs by hardware-class
        machine group (runs are never pooled across groups), computes medians per group
        (using change-point detection), and returns the percentage difference. Only items
        where both branches have data are included in the response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareByOwnerRequest'
      responses:
        '200':
          description: >
            Returns an array of comparison items. Each item contains the project,
            metric name, the machine group the comparison was computed on, median values
            for both branches, and the percentage difference. A project/metric pair can
            appear multiple times — once per machine group that has data on both branches.
            Returns an empty array if the owners have no projects or no data is found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComparisonResponseItem'
        '400':
          description: >
            Bad Request. The JSON body is malformed, a required field
            (owners, baseBranch, compareBranch, machine) is missing, or all owner values are empty strings.
        '500':
          description: Internal Server Error. A database query or other server-side operation failed.

components:
  schemas:
    CompareByOwnerRequest:
      type: object
      required:
        - owners
        - baseBranch
        - compareBranch
        - machine
      properties:
        owners:
          type: array
          items:
            type: string
          description: One or more owners whose projects should be compared.
          example: ['Java', 'IntelliJ Kotlin Plugin']
        baseBranch:
          type: string
          description: The base branch to compare against.
          example: 'master'
        compareBranch:
          type: string
          description: The branch to compare with the base branch.
          example: 'feature-x'
        machine:
          type: string
          description: >
            Machine filter. The value is automatically wrapped with % wildcards
            for SQL LIKE matching (e.g. "linux" becomes "%linux%").
          example: 'linux'
        mode:
          type: string
          description: >
            Test mode filter. Optional, defaults to empty string.
            The value "default" is normalized to an empty string.
          default: ''
          example: ''
        additionalMetrics:
          type: array
          items:
            type: string
          description: >
            Additional metric names to include alongside the default main metrics.
            Duplicates are removed automatically.
          example: ['custom_metric_1']
    ComparisonResponseItem:
      type: object
      required:
        - project
        - metric
        - machine
        - baseBranchValue
        - compareBranchValue
        - diff
        - link
      properties:
        project:
          type: string
          description: The project name.
          example: 'community/indexing'
        metric:
          type: string
          description: The metric name.
          example: 'indexingTimeWithoutPauses'
        machine:
          type: string
          description: >
            The hardware-class machine group this comparison was computed on. Medians are
            computed per group, so the same project/metric can appear once per group.
          example: 'linux-blade'
        baseBranchValue:
          type: number
          format: double
          description: Median value of the metric on the base branch.
          example: 1234.5
        compareBranchValue:
          type: number
          format: double
          description: Median value of the metric on the compare branch.
          example: 1300.2
        diff:
          type: number
          format: double
          description: >
            Percentage difference: ((compareBranchValue - baseBranchValue) / baseBranchValue) * 100,
            rounded to 1 decimal place.
          example: 5.3
        link:
          type: string
          description: >
            Full URL to the performance tests dashboard page with preselected
            database, table, machine group, branch, test, and metric.
          example: 'https://ij-perf.labs.jb.gg/owners/test?branch=master&dbName=perfint&machine=linux-blade&measure=indexingTimeWithoutPauses&project=community%2Findexing&table=idea'
