.p-button {
  @apply text-sm shadow-sm px-3 py-2 leading-4;
}

/* see InputForm - input number right after button, but for button we use different line height and it leads to a larger height */
.p-button + .p-inputnumber .p-inputtext {
  @apply leading-4;
}

.p-button-icon-only {
  @apply p-2;
}

.p-button-icon-only.p-button-rounded {
  box-shadow: unset;
}

.p-button-text {
  @apply border-transparent bg-transparent;
}

/* Without this style, buttons in a button set have a `border-right` on hover.  */
.p-buttonset .p-button:not(:last-child):hover {
  border-right: 0 none;
}
