.p-button {
  @apply text-sm rounded-md shadow-sm px-3 py-2 leading-4;
}

/* see InputForm - input number right after button, but for button we use different line height and it leads to a larger height */
.p-button + .p-inputnumber .p-inputtext {
  @apply leading-4;
}

.p-button-rounded {
  @apply rounded-full shadow-sm;
}

.p-button-icon-only {
  @apply p-2;
}

.p-button-icon-only.p-button-rounded {
  @apply h-5 w-5 p-1.5;
}

.p-button-text {
  @apply border-transparent bg-transparent;
}
