.p-toast-detail {
  @apply line-clamp-6 overflow-hidden max-w-sm w-full break-words text-sm;
}

/* https://tailwindui.com/components/marketing/elements/flyout-menus Simple */
.p-popover {
  @apply rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white;
}

.p-popover .p-popover-content {
  /* same padding as for select panel items */
  @apply py-2 px-3;
}

.p-popover .p-popover-close {
  @apply w-5 h-5 absolute;
  top: calc((-1 * 1.25rem) / 2);
  right: calc((-1 * 1.25rem) / 2);
}

.p-button, .p-select-overlay, .p-multiselect-overlay, .p-treeselect-overlay, .p-inputtext, .p-tieredmenu, .p-button-label {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  font-size: .875rem;
}