name: Initialize degradation-detector package 2

# This workflow creates the degradation-detector package in GHCR.

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: jetbrains/ij-perf-report-aggregator/degradation-analyzer

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push minimal image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .github/workflows/Dockerfile.init
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:init