name: lint-and-test
on:
  - push
  - pull_request
permissions:
  contents: read
  pull-requests: read
jobs:
  lintAndtestBackend:
    name: lint and test backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: Create dummy file in resources
        run: mkdir cmd/frontend/resources && touch cmd/frontend/resources/make-typecheck-happy.txt
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0
      - name: Run Go tests
        run: go test ./pkg/...
      - uses: ./.github/send-notification-action
        if: ${{ failure() }}
        with:
          secret: ${{ secrets.SLACK_WEBHOOK_URL }}
  lintAndTestFrontEnd:
    name: lint and test frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
          run_install: |
            - recursive: true
      - name: Test build
        run: pnpm build
      - name: Run VueTSC
        run: pnpm vue-tsc
      - name: Run Oxlint
        run: pnpm oxlint --type-aware
      - name: Run Oxfmt
        run: pnpm oxfmt --check
      - name: Run tests
        run: pnpm test
      - uses: ./.github/send-notification-action
        if: ${{ failure() }}
        with:
          secret: ${{ secrets.SLACK_WEBHOOK_URL }}
